<h2>Please choose</h2>
<input type='number' placeholder='ID' min='1' max='5' [(ngModel)]='frmId' />
<br>
<br>
<select [(ngModel)]='whichCategory'>
  <option *ngFor='let item of categories'>{{item.cat}}</option>
</select>
<br>
<br>
<button (click)='handleClick()'>Go</button>
<br>
<br>
<hr>
<h2>Results</h2>
<!--Conditionally show results-->

<!-- Display error message to user on screen 
  <div *ngIf='model==""'>
  Error
</div> -->

<div *ngIf='whichCategory=="people"'>
    Name: {{model.name}}
    <br>
    Height: {{model.height}}
    <br>
    Eye-colour: {{model.eye_color}}
    <br>
    Films: 
    <ul *ngFor='let item of model.films' >
      {{item}} 
    </ul>
  </div>

<div *ngIf='whichCategory=="planets"'>
  Name: {{model.name}}
  <br>
  Population: {{model.population}}
  <br>
  Rotation-Period: {{model.rotation_period}}
  <br>
  Films: 
  <ul *ngFor='let item of model.films' >
    {{item}} 
  </ul>
</div>

<div *ngIf='whichCategory=="vehicles"'>
    Name: {{model.name}}
    <br>
    Model: {{model.model}}
    <br>
    Cargo-Capacity: {{model.cargo_capacity}}
    <br>
    Films: 
    <ul *ngFor='let item of model.films' >
      {{item}} 
    </ul>
  </div>

<div *ngIf='whichCategory=="species"'>  
  Name: {{model.name}}
  <br>
  Height: {{model.average_height}}
  <br>
  Eye-colour: {{model.eye_colors}}
  <br>
  Films: 
  <ul *ngFor='let item of model.films' >
    {{item}} 
  </ul>
</div>

<div *ngIf='whichCategory=="starships"'>
  Name: {{model.name}}
  <br>
  Model: {{model.model}}
  <br>
  Hyperdrive-Rating: {{model.hyperdrive_rating}}
  <br>
  Films: 
  <ul *ngFor='let item of model.films' >
    {{item}} 
  </ul>
</div> 